{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block page-wrapper %}

            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
               <!-- ============================================================== -->
               <!-- Ticket Detail -->
               <!-- ============================================================== -->
               <div class="row">
                   <div class="col-md-12">
                       <div class="card card-body printableArea">
                           <h3><b>Ticket</b> <span class="pull-right">#{{object.id}}</span></h3>
                           <hr>
                           <div class="row">
                               <div class="col-md-12">
                                   <div class="pull-left">
                                       <address>
                                           <h3> &nbsp;<b class="text-info">From:</b> {{object.created_by}}</h3>
                                           <h3> &nbsp;<b class="text-info">CC:</b>
                                             {% for cc in object.cc.all %} 
                                                {{cc.username}};
                                             {% endfor %}
                                             </h3>
                                           <!-- <p class="text-muted ms-1">E 104, Dharti-2,
                                               <br /> Nr' Viswakarma Temple,
                                               <br /> Talaja Road,
                                               <br /> Bhavnagar - 364002</p> -->
                                       </address>
                                   </div>
                                   <div>
                                      <h3>Subject: {{object.subject}}</h3> 
                                      <br>
                                       <p>{{object.text}}</p>
                                   </div> 
                                   <div class="pull-right text-end">
                                       <address>
                                           <!-- <h3>To,</h3>
                                           <h4 class="font-bold">Gaala & Sons,</h4>
                                           <p class="text-muted ms-4">E 104, Dharti-2,
                                               <br /> Nr' Viswakarma Temple,
                                               <br /> Talaja Road,
                                               <br /> Bhavnagar - 364002</p> -->
                                           <p class="mt-4"><b>Created Date:</b> <i class="fa fa-calendar"></i>{{object.created|date:"M d, Y" }}</p>
                                           <p><b>Modified:</b> <i class="fa fa-calendar"></i>{{object.modified|date:"M d, Y" }}</p> 
                                           <p><b>Due Date :</b> <i class="fa fa-calendar"></i>{{object.due_date|date:"M d, Y" }}</p>
                                       </address>
                                   </div>
                               </div>

                               <div class="col-md-12">
                                   
                               </div>
                               <div class="col-md-12">
                                   <hr>
                                   <form method="post">
                                       {% csrf_token %}
                                       {% bootstrap_form update_ticket_form %}  
                                       <div class="text-end">
                                          <input  class="btn btn-warning text-white"  name="update_ticket" value="Update" type="submit"/>
                                       </div>
                                  </form>
                                  
                               </div>
                           </div>

                        
                           
                       </div>
                   </div>
               </div>
               <!-- ============================================================== -->
               <!-- End Ticket Detail  -->
               <!-- ============================================================== -->

               <!-- ============================================================== -->
               <!-- Comments and Status Updates-->
               <!-- ============================================================== -->
               <div class="card">
                  <div class="card-body">
                     <!-- <h3><b>  Comment / Updates</b> <span class="pull-right">  Comment / Updates</span></h3>    -->
                     <h3 class="card-title"> Comment / Updates </h3>
                      <div class="todo-widget scrollable ps-container ps-theme-default ps-active-y" style="height:450px;" data-ps-id="f5c46fde-9a2e-c4ee-6496-c08812a7846d">
                          <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                           {% for comment in object.comments.all %}
                              <li class="list-group-item todo-item" data-role="task">
                                  <div class="form-check">
                                          <p class="font-medium p-0">{{comment.title|safe}}</p>
                                          <span class="fw-normal"> {{comment.comment|safe}}.</span> 
                                          <span class="float-end"> 
                                             <b class="badge rounded-pill bg-info">{{comment.date}} </b>
                                             <img class="rounded-circle" width="40" src="https://avatars.githubusercontent.com/u/4637470?s=460&u=24fea690cece144715b91a559099406958ea5f69&v=4" alt="{{comment.user}}" data-toggle="tooltip" data-placement="top" title="{{comment.user}}" data-original-title="Steave" data-bs-original-title=""> 
                                          </span>
                                  </div>
                                  <!-- <ul class="list-style-none assignedto float-end">
                                      <li class="assignee"><img class="rounded-circle " width="40" src="{% static 'assets/images/users/1.jpg' %}" alt="user" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steave" data-bs-original-title=""></li>
                                    </ul> -->
                              </li>
                           {% endfor %}
                          </ul>
                      <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 450px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 442px;"></div></div></div>
                  </div>
              </div>
               <!-- ============================================================== -->
               <!-- End Comments and Status Updates-->
               <!-- ============================================================== -->

               <div class="row">
                  <div class="col-md-12">
                      <div class="card card-body printableArea">
                        <form method="post">
                           {% csrf_token %}
                           {% bootstrap_form comment_form %}  
                           <div class="text-end">
                              <input  class="btn btn-info text-white"  name="comment_ticket" value="Submit" type="submit"/>
                           </div>
                       </form>
                      </div>
                  </div>
               </div>
           
           </div>
           <!-- ============================================================== -->
           <!-- End Container fluid  -->
           <!-- ============================================================== -->
{% endblock page-wrapper %}