{% extends 'base.html' %}
{% load static %}

{% block content %}
   <h3>{{object.created_by}} <br> {{object.cc.all}} <br>{{object.text}} <br> {{object.progress}} </h3>
   <fieldset>
    <legend>Edit status</legend>
    <form method="post">
        {% csrf_token %}
        {{ update_ticket_form }}
        <input name="update_ticket" type="submit" value="Submit" />
    </form>
 </fieldset>
 <hr>
   {% for comment in object.comments.all %}
   {{comment.date}} upated by {{comment.user}}<br>
   <h3>{{comment.title|safe}}:</h3>
    {{comment.comment|safe}}<hr>

   {% endfor %}
 
<fieldset>
   <legend>Add a comment</legend>
   <form method="post">
       {% csrf_token %}
       {{ comment_form }}
       <input name="comment_ticket" type="submit" value="Submit" />
   </form>
</fieldset>
{% endblock content %}