{% load static %}

<div class="d-flex p-3 px-md-4 mb-4 bg-white border-bottom shadow-sm" >
 
    <!-- MEDIUM+ screen -->
    <div class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">
     
        <!-- col-1 Home Link -->
        <h5 class="mr-3 font-weight-normal justify-content-start "> 
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
        </h5>

        <!-- col-2 Search Form -->
        <form class="search-bar justify-content-start" action="">
            <input type="text" class="form-control" name="search_param" id="id_q_large" placeholder="search">
        </form>

        <!-- col-3  -->
        <div class="d-flex flex-row-reverse flex-grow-1">
            <nav>
                {% if  request.user.is_authenticated %}
                <div class="dropdown dropleft show p-2" >
                    <div class="d-flex flex-row">
                    
                        <!-- chat notifications -->
                        <div class="btn-group dropleft">
                            <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_chat_notification_dropdown_toggle" data-bs-toggle="dropdown">
                                <span id="id_chat_notifications_count" class="notify-badge"></span>
                                <span class="d-flex material-icons notifications-material-icon m-auth align-items-center">chat</span>
                                <div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
                                    <!-- pass -->
                                </div>
                            </div>
                        </div>

                        <!-- general notifications -->
                        <div class="btn-group dropleft">
                            <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_general_notification_dropdown_toggle" data-bs-toggle="dropdown">
                                <span id="id_general_notifications_count" class="notify-badge"></span>
                                <span class="d-flex material-icons notifications-material-icon m-auth align-items-center">notifications</span>
                                <div class="dropdown-menu scrollable-menu" aria-labelledby="id_general_notification_dropdown_toggle" id="id_general_notifications_count">
                                    <!-- pass -->
                                </div>
                            </div>
                        </div>

                        <!-- account -->
                        <div class="dropdown">
                            <div class="btn-group dropleft">
                                <img class="account-image rounded-circle m-auto d-block dropdown-toggle"
                                    type="button" 
                                    id="id_profile_links"  data-bs-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false" 
                                    src="{% static 'images/portal/profile_img.jpg' %}" alt="profile image" width="40" height="40">
    
                                <div class="dropdown-menu" aria-labelledby="id_profile_links">
                                        <a class="dropdown-item" href="#">Account</a>
                                        <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% else %}
                <a class="p-2 text-dark" href="#">Login</a>
                <a class="p-2 btn-outline-primary" href="#">Register</a>
                {% endif %}
            </nav>
        </div>

    </div> <!-- END MEDIUM+ screen -->

    <!-- SMALL- screen -->
    <div class="d-flex d-md-none flex-column m-auto align-items-center">

        <!-- col-1 Home Link -->
        <h5 class="font-weight-normal">
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
        </h5>

        <!-- col-2 Search Form -->
        <form class="search-bar justify-content-start" action="">
            <input type="text" class="form-control" name="search_param" id="id_q_large" placeholder="search">
        </form>

          <!-- col-3  -->
          <div class="d-flex flex-row-reverse flex-grow-1">
            <nav>
                {% if  request.user.is_authenticated %}
                <div class="dropdown dropleft show p-2 mt-2" >
                    <div class="d-flex flex-row">
                    
                        <!-- account -->
                        <div class="dropdown">
                            <div class="btn-group dropleft">
                                <img class="account-image rounded-circle m-auto d-block dropdown-toggle"
                                    type="button" 
                                    id="id_profile_links"  data-bs-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false" 
                                    src="{% static 'images/portal/profile_img.jpg' %}" alt="profile image" width="40" height="40">
    
                                <div class="dropdown-menu" aria-labelledby="id_profile_links">
                                        <a class="dropdown-item" href="#">Account</a>
                                        <a class="dropdown-item" href="#">Logout</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% else %}
                <a class="p-2 text-dark m-2" href="#">Login</a>
                <a class="p-2 btn-outline-primary m-2" href="#">Register</a>
                {% endif %}
            </nav>
        </div>

    </div> <!-- END SMALL- screen -->

</div>
